<div class="row d-flex">
    <div class="col-md-12 justify">
        <nav class="navbar navbar-expand-lg navbar-light bg-light ">
            <img src="https://www.dhresource.com/0x0/f2/albu/g7/M00/55/41/rBVaSluWHUmAUSLfAAAo5wPsVL4483.jpg/realistic-fake-orange-artificial-lifelike.jpg
                    " width="30" height="30" alt="">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
                aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">

                <form class="form-inline my-2 my-lg-0 ">
                    <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
                </form>
                <ul class="navbar-nav  mr-5 ">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(página atual)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Carrinho</a>
                    </li>
                </ul>

            </div>
        </nav>
    </div>
</div>