<footer class="page footer font small bg-secundary pt-4">
    <div class="container">
        <div class="row d-flex justify-content-center background-rodape">

            <div class="col-md-4">
                <h4>Redes sociais</h4>
                <ul>
                    <li>
                        <a href="www.facebook.com/raizedobrasil text-white fs-16" target="_blanket" class="icoFacebook"><i
                                class="fa fa-facebook-square text-white"></i>
                        </a>
                    </li>
                    <li>
                        <a href="www.instagram.com/raizesdobrasil " target="_blanket " class="icoInstagram"><i
                                class="fa fa-instagram text-white fs-16"></i></a>
                    </li>
                    <li>
                        <a href="www.twitter.com/raizesdobrasil " target="_blanket" class="icoTwitter">
                            <i class="fa fa-twitter-square text-white fs-16"></i></a>
                    </li>

                </ul>
            </div>
            <div class="col-md-4">
                <h4>Idealizadores</h4>
                <a href="#" class="text-white fs-16">Felipe Kendy Honda</a><br>
                <a href="" class="text-white fs-16"> Jessica Discola</a><br>
                <a href="" class="text-white fs-16">Milena Coutinho</a><br>
                <a href="" class="text-white fs-16">Wesley Alves Santana</a><br>
            </div>
            <div class="col-md-4">
                <h4>Links uteis</h4>
                <a href="#" class="text-white fs-16">Sobre Nós</a><br>
                <a href="" class="text-white fs-16">Fale Conosco</a><br>
                <a href="" class="text-white fs-16">Política de Privacidade</a>
            </div>
        </div>
        <div class="row d-flex background-rodape-final text-white fs-16 justify-content-center"> ©️ 2020 Copyright : <a href="http://github.com/ProjetoI1/ProjetoIntegrador">Projeto Integrador</a>
        </div>
    </div>
</footer>